[submodule "42_libft"]
	path = 42_libft
	url = https://github.com/neon-05/42_libft.git
[submodule "minilibx-linux"]
	path = minilibx-linux
	url = https://github.com/42paris/minilibx-linux.git
[submodule "42_matft"]
	path = 42_matft
	url = https://github.com/neon-05/42_matft.git
